
body {
	background-color: #f5f2f0;
	
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
}

.url_box {
	width: 250px;
}

input {
	margin-top: 5px;
	margin-bottom: 5px;
}

strong {
	color: #000099;
}

#options_icon {
	height: 20px;
	width: 20px;
	float: right;

}

iframe {
	padding: 0px;
	margin: 0px;
}

#options_frame {
	display: none;
	height: 0px;
	width: 100%;
}